.lightbox-Bg {
  /* Positionnement et dimensionnement de la lightbox */
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* Effet de flou de l'arrière-plan */
  backdrop-filter: blur(10px);
  /* Couleur de fond semi-transparente */
  background-color: rgba(0, 0, 0, 0.5);
  /* Z-index pour la superposition */
  z-index: 0;
}

.lightbox {
  display:flex;
  /* Positionnement et dimensionnement de la lightbox */
  flex-direction: column;
  position: relative;
  height: 95%;
  width: 70%;
  max-width:125vh;
  background-color: white;
  /* Centrage du contenu de la lightbox */
  
  
  /* Marge intérieure */
  padding: 10px;
  /* Gestion du débordement */
  overflow: hidden;
  /* Z-index pour la superposition */
  z-index: 1;
}

.lightbox_close_btn-div {
  /* Positionnement du bouton de fermeture */
  top:10px;
  right:10px;
  position :absolute;
}

.lightbox_Close-btn {
  /* Marge et dimension du bouton de fermeture */
  margin: 20px;
  width: 30px;
}

.lightbox_Close-btn:hover {
  /* Effet d'agrandissement au survol */
  transform: scale(1.2);
}




.prev,
.next{
  position:absolute;
  top:50%;
  height:80px;
}

.next {
  /* Ordre d'affichage et rotation du bouton suivant */
  right:25px;
  transform:translateY(-50%) rotate(0);
}

.next:hover {
  /* Effet d'agrandissement et rotation au survol */
  transform: translateY(-50%) scale(1.1) rotate(0);
}

.prev {
  /* Ordre d'affichage et rotation du bouton précédent */
  left:25px;
  top:50%;
  transform:  translateY(-50%) rotate(180deg);
}

.prev:hover {
  /* Effet d'agrandissement et rotation au survol */
  transform: translateY(-50%) scale(1.1) rotate(180deg);
}

.lightbox_media-Container {
  /* Positionnement et dimensionnement du conteneur des médias */
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 90vh;
  /* Gestion du débordement */
  overflow: hidden;
  /* Ordre d'affichage */
  order: 1;
  margin:auto auto;
}



.LightboxIn {
  /* Positionnement et dimensionnement de la carte des médias */
  display: flex;
  object-fit:cover;
  object-position:center;
  box-shadow: inset 0 1% 0 2px gray;

  width: 99%;
  height: 95%;
}

.LightboxInTitle{
height:5%;
font-size:125%;
font-weight: bold;
color: #901c1c;
padding-top:10px;

}